* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Consolas;
}
@font-face {
    font-family: alarm;
    src: url("../fonts/alarm\ clock.ttf");
}
body {
    background-image: url("../asserts/img.png");
    min-height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/** Form - Log-in Styling */
.login,
.home,
.clock,
.timer {
    width: 40vw;
    height: auto;
    margin: 15vw auto;
    background-color: #00000096;
    border-radius: 20px;
    border: 2px #eeeeee95 solid;
    padding: 10px;
    color: white;
    label {
        display: block;
        margin: 6px;
        font-weight: bold;
    }
    input {
        width: 80%;
        height: 35px;
        margin: 2px auto;
        display: block;
        padding: 2px;
        border-radius: 5px;
        outline: none;
        border: none;
        &:focus {
            border: 3px solid #ff914d;
        }
    }
    button {
        width: 80%;
        height: 35px;
        margin: 20px auto;
        display: block !important;
        font-size: 18px !important;
        height: auto;
        transition: 400ms;
        &:hover {
            background-color: transparent !important;
            border: #ff914d 2px solid;
            color: white !important;
        }
    }
}

.home .options {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
}

.clock {
    width: 80vw !important;
    margin-top: 25vh;
    h1 {
        font-size: 120px;
         margin-top: 60px;
    }
    h1 * {
        font-family: alarm;
    }
    .clock-page-data {
        font-size: 26px !important;
    }
}

#clock-page span {
    font-family: alarm;
}

.timer {
    margin-top: 24vh;
    width: 80vw;
    label,
    select {
        display: inline-block;

        &:hover {
            border: none !important;
            outline: none !important;
        }
    }
    select {
        padding: 6px;
        width: 100px;
    }
    & #startBtn.btn, #closeBtn {
        display: inline-block !important;
        width: fit-content !important;
        margin-top: -1px;
    }
    .time-control {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
    }

}
#countdown * {
    font-family: alarm;
}

.my-container  {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.clock{
    position: relative;
    
    .btn {
    width: fit-content;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: -10px;
}}

.login * {
    display: block;
}

.timer .time-control {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-items: center;
}